.wrapper {
  display: inline-block;
  min-width: 16px;
  padding: 0 4px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: white;
  border-radius: 8px;
  background-color: var(--color-error);
  cursor: default;
}
