.wrapper {
  min-width: 279px;
  height: 40px;
  font-family: 'GT-Walsheim';
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.4px;
  text-align: center;
  user-select: none;
  border: none;
  padding: 0 16px;
  border-radius: 4px;
  background: var(--color-black);
  color: white;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(.2, .8, .4, 1);
  transition-property: background-color, color, border-color, box-shadow;
  cursor: pointer;

  &:hover, &:focus {
    background: lighten(#222328, 5%);
    box-shadow: 0 2px 4px 0 rgba(#222328, 0.24);
  }

  &:active {
    background: darken(#222328, 5%);
    box-shadow: none;
  }
}
