.wrapper {
  min-width: 270px;
  height: 40px;
  font-family: var(--font-primary);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.4px;
  text-align: center;
  user-select: none;
  border: none;
  padding: 0 16px;
  border-radius: 4px;
  background: var(--color-black);
  color: white;
  transition-duration: 0.4s;
  transition-timing-function: var(--bezier-snappy);
  transition-property: background-color, color, border-color, box-shadow, transform;
  cursor: pointer;

  &:enabled {
    &:hover, &:focus, &.hover {
      background: lighten(#222328, 5%);
      box-shadow: 0 2px 8px 0 rgba(#222328, 0.3);
    }

    &.hover {
      transform: translateY(-2px);
    }

    &:active {
      background: darken(#222328, 5%);
      box-shadow: none;
    }
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--color-base-200);
    color: var(--color-base-300);
  }
}
