.anchor {
  position: relative;

  &:hover {
    a {
      opacity: 1;
    }
  }

  .link {
    opacity: 0;
    position: absolute;
    left: -20px;
    padding-right: 8px;
    font-size: inherit;
    text-decoration: none;
  }
}
