.plays {
  list-style: none;
  margin: 64px 0 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
  grid-gap: 24px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 700px;
  :global { animation: fadeIn 0.5s var(--bezier-swift) forwards; }

  h1 {
    text-align: center;
    margin-bottom: 32px;
  }

  span {
    margin-top: 8px;
    font-size: 14px;
    color: var(--color-paragraph);
  }
}

.input {
  max-width: 420px;
  font-family: 'GT-Walsheim';
  font-size: 14px;
  width: 100%;
  height: 48px;
  padding: 8px 16px;
  border: 1px solid var(--color-base-100);
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 5px 25px -5px rgba(30, 16, 84, .1);
  -webkit-appearance: none;
  transition: box-shadow 0.4s ease-in-out;

  &::placeholder {
    color: #BDC0CF;
  }

  &:focus {
    box-shadow: 0 20px 25px -5px rgba(30, 16, 84, .1);
  }

  &:disabled {
    cursor: not-allowed;
    color: #BDC0CF;
    background-color: #FAFAFC;
  }
}
