.plays {
  list-style: none;
  margin: 64px 0 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
  grid-gap: 24px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 700px;
  :global { animation: fadeIn 0.5s var(--bezier-swift) forwards; }

  h1 {
    text-align: center;
    margin-bottom: 32px;
  }

  span {
    margin-top: 8px;
    font-size: 14px;
    color: var(--color-paragraph);
  }
}

