.teaser {
  background: var(--color-base-100);
  border: 0;
  border-radius: 4px;
  height: 48px;
  padding: 8px 16px;
  min-width: 279px;
  font-family: var(--font-primary);
  color: var(--color-black);
  font-size: 14px;

  &::placeholder {
    color: var(--color-black);
  }

  &:read-only {
    outline: 0;
    pointer-events: none;
  }
}

.input {
  font-family: var(--font-primary);
  font-size: 14px;
  width: 100%;
  height: 48px;
  padding: 8px 16px;
  border: 1px solid var(--color-base-100);
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 5px 25px -5px rgba(30, 16, 84, .1);
  -webkit-appearance: none;
  transition: box-shadow 0.4s var(--bezier-snappy);

  &::placeholder {
    color: var(--color-base-200);
  }

  &:focus, &:hover {
    box-shadow: var(--box-shadow-hover);
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--color-base-200);
    background-color: #FAFAFC;
    box-shadow: none;
  }
}
